body {
  background-image: linear-gradient(
    to right,
    rgb(136, 131, 136),
    rgb(224, 224, 220)
  );
  margin: 1rem;
  font-size: 3.2rem;
}


h3{
  color: red;
}

button{
  height: 2em;
  width: 6em;
  font-size: 20px;
}